.calender {
  display: flex;
  align-items: center;
  border: 1px solid #999999;
  border-radius: 4px;
  text-align: center;
}

.pButton {
  border: solid #333333 1px;
  font-size: 1rem;
  padding: 0.25rem;
}

.pSelect {
  border: solid #333333 1px;
  font-size: 1rem;
  padding: 0.25rem;
}
