.pageLayout {
  display: flex;
  flex-direction: column;
  height: auto;
}

@media screen and (min-width: 950px) {
  .pageLayout {
    flex-direction: row;
  }
}

.boxLayout {
  width: auto;
  height: 100%;
  min-height: 15vh;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

.mediaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 90%;
  height: 100%;
  max-height: 20rem;
  border-radius: 1rem;
  margin: 1rem;
}

.mediaContainerNone {
  color: #999999;
  font-size: 1.5rem;
  text-align: center;
  border: dashed 2px #999999;
  border-radius: 1rem;
  padding: 1rem;
  background: white;
}

.input {
  display: flex;
  border: solid 1px #999999;
  font-weight: 600;
  border-radius: 0.5rem;
  color: #333333;
  font-size: 1rem;
  padding: 1rem;
  width: 30rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 11rem;
  border-radius: 9999px;
  padding: 0.5rem;
  margin: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

/* 메인 페이지 */
.topTextButton {
  margin: 2rem;
  color: #999999;
  font-size: 1.15rem;
}

/* 로그인 페이지 */
.loginInput {
  border: solid 1px #999999;
  font-weight: 600;
  width: 40%;
  min-width: 250px;
  max-width: 400px;
  padding: 1rem;
}

.upperInput {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.bottomInput {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border-top: none;
}

/* 도메인 선택 페이지 */
.cardContainer {
  padding: 1rem;
  margin: 0.5rem;
  border: solid 3px #ffb625;
  border-radius: 1rem;
  background: linear-gradient(#ffeecc, #ffdd99 75%);
}

.cardContainerSelected {
  padding: 1rem;
  margin: 0.5rem;
  border: solid 4px #47c93c;
  border-radius: 1rem;
  background: #a4d69f;
  font-weight: bold;
  color: white;
}

.imgCard {
  border-radius: 5px;
  max-height: 15rem;
}

/* 불량 검출 페이지 */
.tableRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableRow > li {
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  color: #999999;
}

.tableRow :nth-child(3) {
  color: #333333;
}

.tableRow > li > img {
  margin-left: 0.5rem;
  width: auto;
  height: 1rem;
}

/* 선형 그래프 배경 */
.lineChart {
  align-self: center;
  width: 90%;
  height: 14rem;
  min-height: 10rem;
  max-height: 20rem;
  border-radius: 1rem;
  background: linear-gradient(#80d479, #47c93c);
}

.lineChart:hover {
  width: 90.1%;
}

/* 막대 그래프 배경 */
.barChart {
  align-self: center;
  width: 90%;
  height: 14rem;
  min-height: 10rem;
  max-height: 20rem;
  border-radius: 1rem;
  background: linear-gradient(#e29191, #e36161);
}

.barChart:hover {
  width: 90.1%;
}

/* 서서히 흐려지는 효과 */
.twinkle {
  animation: twinkle 1s 0s infinite ease-in-out alternate;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

/* 깜빡이는 효과 */
.blink {
  animation: blink 4s step-end infinite;
}

@keyframes blink {
  80% {
    opacity: 0.5;
  }
}

/* 초마다 깜빡이기 */
.blinkSeconds {
  animation: blinkSeconds 1s step-end infinite;
}

@keyframes blinkSeconds {
  50% {
    opacity: 0.7;
  }
}

/* Line Chart border 애니메이션 */
.borderLine {
  animation: borderLine 3s infinite ease-in-out;
  border: 4px solid;
}

@keyframes borderLine {
  0% {
    border-color: #10982b;
  }
  25% {
    border-color: #ffffff;
  }
  50% {
    border-color: #ffffff;
  }
  75% {
    border-color: #ffffff;
  }
  100% {
    border-color: #10982b;
  }
}

/* Bar Chart border 애니메이션 */
.borderBar {
  animation: borderBar 3s infinite ease-in-out;
  border: 4px solid;
}

@keyframes borderBar {
  0% {
    border-color: #ffffff;
  }
  25% {
    border-color: #b84f4f;
  }
  50% {
    border-color: #ffffff;
  }
  75% {
    border-color: #ffffff;
  }
  100% {
    border-color: #ffffff;
  }
}

/* Table border 애니메이션 */
.borderTable {
  animation: borderTable 3s infinite ease-in-out;
  border: 4px solid;
}

@keyframes borderTable {
  0% {
    border-color: #ffffff;
  }
  25% {
    border-color: #ffffff;
  }
  50% {
    border-color: #148ee6;
  }
  75% {
    border-color: #ffffff;
  }
  100% {
    border-color: #ffffff;
  }
}

/* Img border 애니메이션 */
.borderImg {
  animation: borderImg 3s infinite ease-in-out;
  border: 5px solid;
}

@keyframes borderImg {
  0% {
    border-color: #ffffff;
  }
  25% {
    border-color: #ffffff;
  }
  50% {
    border-color: #ffffff;
  }
  75% {
    border-color: #333333;
  }
  100% {
    border-color: #ffffff;
  }
}

/* 표 css */
.tableSet {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#99c9eb, #64b1e9);
  width: 90%;
  height: 100%;
  min-height: 10rem;
  max-height: 15rem;
  margin: 1rem;
  color: white;
  border-radius: 1rem;
}

.tableSet > thead,
.tableSet > tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tableSet > tbody {
  overflow-y: auto;
}

.tableSet > thead > tr,
.tableSet > tbody > tr {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.tableSet > thead > tr > th {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.tableSet > tbody > tr > td {
  width: 100%;
  overflow-y: auto;
}

.tableSet > tbody > tr > td > button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
}

.tableButtonSelectedLeft {
  background: #156ba9;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  border-left: solid #125687 3px;
  border-top: solid #125687 3px;
  border-bottom: solid #125687 3px;
}

.tableButtonSelectedRight {
  background: #156ba9;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  border-right: solid #125687 3px;
  border-top: solid #125687 3px;
  border-bottom: solid #125687 3px;
}

.imgSetting {
  width: auto;
  height: 60%;
  max-height: 12rem;
  border-radius: 1rem;
}
