.boxLayout {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  margin-left: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}

.mediaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  min-height: 10rem;
  max-height: 15rem;
  border-radius: 1rem;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
  /* 도입되면 삭제 */
  border: dashed #999999 2px;
}

.input {
  display: flex;
  border: solid 1px #999999;
  font-weight: 600;
  border-radius: 0.5rem;
  color: #333333;
  font-size: 1rem;
  padding: 1rem;
  width: 30rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-radius: 9999px;
  padding: 0.5rem;
  margin: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

/* 메인 페이지 */
.topTextButton {
  margin: 2rem;
  color: #999999;
  font-size: 1.15rem;
}

/* 로그인 페이지 */
.loginInput {
  border: solid 1px #999999;
  font-weight: 600;
  width: 40%;
  min-width: 250px;
  max-width: 400px;
  padding: 1rem;
}

.upperInput {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.bottomInput {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border-top: none;
}

/* 불량 검출 페이지 */
.tableRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableRow > li {
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  color: #999999;
}

.tableRow > li > img {
  margin-left: 0.5rem;
  width: auto;
  height: 1rem;
}

/* 선형 그래프 배경 */
.lineChart {
  align-self: center;
  width: 90%;
  height: 100%;
  min-height: 10rem;
  max-height: 15rem;
  margin: 1rem;
  border-radius: 1rem;
  background: linear-gradient(#80d479, #47c93c);
}

/* 막대 그래프 배경 */
.barChart {
  align-self: center;
  width: 90%;
  height: 100%;
  min-height: 10rem;
  max-height: 15rem;
  margin: 1rem;
  border-radius: 1rem;
  background: linear-gradient(#e29191, #e36161);
}

/* 서서히 흐려지는 효과 */
.twinkle {
  animation: twinkle 1s 0s infinite ease-in-out alternate;
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

/* 깜빡이는 효과 */
.blink {
  animation: blink 4s step-end infinite;
}

@keyframes blink {
  80% {
    opacity: 0.5;
  }
}

/* border 애니메이션 */
.borderLine {
  animation: borderLine 3s infinite ease-in-out;
  border: 4px solid;
}

@keyframes borderLine {
  0% {
    border-color: #ffffff;
  }
  25% {
    border-color: #ffffff;
  }
  50% {
    border-color: #10982b;
  }
  75% {
    border-color: #ffffff;
  }
  100% {
    border-color: #ffffff;
  }
}

.borderBar {
  animation: borderBar 3s infinite ease-in-out;
  border: 4px solid;
}

@keyframes borderBar {
  0% {
    border-color: #ffffff;
  }
  25% {
    border-color: #ffffff;
  }
  50% {
    border-color: #b84f4f;
  }
  75% {
    border-color: #ffffff;
  }
  100% {
    border-color: #ffffff;
  }
}

/* 표 css */
.tableSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#99c9eb, #64b1e9);
  width: 90%;
  height: 100%;
  min-height: 10rem;
  max-height: 15rem;
  margin: 1rem;
  color: white;
  border-radius: 1rem;
}

.tableSet > thead,
.tableSet > tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tableSet > thead > tr,
.tableSet > tbody > tr {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.tableSet > thead > tr > th,
.tableSet > tbody > tr > td {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-y: auto;
}

.tableSet > tbody > tr > td > button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
}
